/***************** TAG SELECTION *****************/
*{
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
span{
  text-decoration: underline;
}

h1{
  color: #66BFBF;
  margin-top: 50px;
  font-size: 5.625rem;
  font-family: "Yesteryear", cursive;
  font-weight: 400;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-width: 7px;
  margin:50px auto;
}

h2{
  color: #11999E;
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

h3{
  margin-bottom: 30px;
  color: #11999E;
}

p{
  font-size: 1.2rem;
  height: 2;
  color: #40514E;
}

.top-h2{
  font-weight: 400;
}

/***************** CLASS SELECTION *****************/
 .middle-container{
   padding-top:50px;
   padding-bottom: 50px;
   width:50%;
   margin: auto;
   text-align: center;
 }

 .profile-img{
   width: 30%;
   border-radius: 100%;
 }



.barlag{
  width:50%;
  margin:auto;
  }
.barlag-img{
  float: left;
  margin-right: 20px;
}

.top{
  background-color: #eaf8f5;
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.mountain-img{
    display: inline-block;
    padding-top: 50px
}

.bottom-cloud{
position: absolute;
left: 300px;
bottom: 280px;
}

.top-cloud{
position: absolute;
right: 300px;
}


.skill-row{
  text-align: left;
  padding: 30px 0;
}

.coding-img{
  width: 200px;
  float: left;
  margin-right: 20px;
}

.second-skill{
  width: 250px;  /* Ini */
  height: auto;
  float: right;
}

.contact{
  padding-bottom: 50px;
}

.btn {
  display: inline-block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:30px 0;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright{
  margin-top: 20px;
  color: #EAF6F;
  margin-top: 50px;
  font-size: 0.8rem;
}

.footer-link{
  font-weight: normal;
  color: #11999E;
  text-decoration: none;
  margin-left: 20px;
}

.footer-link:hover{
  color: #ffffff;
}

.bottom-section{
  padding: 50px 0 20px 0;
  background-color: #66BFBF;
  text-align: center;
}
